
[
  {elvis, [
    {config, [
      #{
        dirs => ["src/*"],
        filter => "*.erl",
        rules => [
          {elvis_style, invalid_dynamic_call, disable},
          {elvis_style, dont_repeat_yourself, disable},
          {elvis_style, macro_names, disable},
          {elvis_style, line_length, #{limit => 100}},
          {elvis_style, god_modules, #{limit => 30}}
        ],
        ruleset => erl_files
      },
      #{
        dirs => ["."],
        filter => "rebar.config",
        ruleset => rebar_config
      },
      #{
        dirs => ["."],
        filter => "elvis.config",
        ruleset => elvis_config
      }
    ]}
  ]}
].
