%% == Erlang Compiler ==

{erl_opts, [
  debug_info,
  warnings_as_errors
]}.

%% == Cover ==

{cover_enabled, true}.

%% == Dependencies ==

{deps, []}.

%% == EDoc ==

{edoc_opts, [{dir, "edoc"}]}.

%% == Profiles ==

{profiles, [
  {test, [
    {erl_opts, [debug_info, warnings_as_errors]},
    {src_dirs, ["src", "test"]},
    {deps, [
      {mixer, {git, "https://github.com/chef/mixer.git", {branch, "master"}}}
    ]}
  ]}
]}.

%% == Pre/Post Shell Hooks ==

%% Running shell commands before or after a given rebar3 command

{pre_hooks, [
  {"(linux|darwin|solaris)", compile, "make -C c_src"},
  {"(freebsd)", compile, "gmake -C c_src"}
]}.

{post_hooks, [
  {"(linux|darwin|solaris)", clean, "make -C c_src clean"},
  {"(freebsd)", clean, "gmake -C c_src clean"}
]}.
