%% == Erlang Compiler ==

{erl_opts, [
  debug_info,
  warnings_as_errors,
  warn_unused_vars,
  ewarn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
  warn_untyped_record
]}.

%% == Cover ==

{cover_enabled, true}.

{cover_opts, [verbose]}.

%% == Common Test ==

{ct_compile_opts, [
  debug_info,
  warnings_as_errors,
  warn_unused_vars,
  ewarn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
  warn_untyped_record
]}.

%% == EDoc ==

{edoc_opts, []}.

%% == Profiles ==

{profiles, [
  {test, [
    {deps, [
      {jchash, "0.1.0"},
      {mixer, {git, "https://github.com/chef/mixer.git", {ref, "0d13224"}}},
      {katana, "0.4.0"},
      {katana_test, "0.1.1"}
    ]}
  ]}
]}.

%% == Dialyzer ==

{dialyzer, [
  {warnings, [
    no_return,
    unmatched_returns,
    error_handling,
    unknown
  ]},
  {plt_apps, top_level_deps},
  {plt_extra_apps, []},
  {plt_location, local},
  {plt_prefix, "shards"},
  {base_plt_location, "."},
  {base_plt_prefix, "shards"}
]}.

%% == Shell ==

{shell, [{apps, [shards]}]}.
